.text {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.692);
  margin: 8px 0px;
  font-size: 20px;
}
.text::before,
.text::after {
  content: "";
  flex-grow: 1;
  background: rgb(0, 0, 0, 0.692);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 8px;
}

.login-page {
  text-align: center;
}

.bank-logo {
  height: 48px;
  width: 270px;
  pointer-events: none;
}

.login-header {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}